@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.BgImage{
  background-image: url('../../public/assets/bgImage.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* background-color:blueviolet; */
  /* justify-content: center;
  align-items: center; */
}

